.form-payment {
  width: 60%;
  margin: 0 auto;

  .StripeElement {
    padding: 10px;
    background: $background-light;
    box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.1);
  }

  .ui.button {
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    color: $font-light;
    background: $primary;
  }
}