.top-bar {
  height: 90px;
  background: $background-light;

  .ui.grid {
    margin: 0;
    padding: 0;

    .column {
      padding: 0;
    }
  }

  &__left {
    display: flex !important;
    align-items: center;

    img {
      height: 90px;
      transition: all 0.5s;

      &:hover {
        transform: translateX(-45px);
      }
    }
  }

  &__right {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;

    .ui.input {
      input {
        background: transparent !important;
        border: 2px solid $primary !important;
        width: 220px;
        transition: width 0.3s;
  
        &:focus {
          width: 350px;
        }
      }

      i {
        color: $primary;
      }
    }
  }
}