.list-games {
  
  &__game {
    padding: 15px;

    &:hover {
      opacity: 0.9;
    }

    img {
      width: 100%;
      min-height: 280px;
      border: 5px solid $primary;
    }

    h2 {
      margin-top: 5px;
      font-size: 15px;
      color: $font-grey;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 10px;
    }

    &-poster {
      position: relative;

      &-info {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        box-shadow: inset 0 -43px 15px -22px rgba(0, 0, 0, 0.75);
        height: 50px;

        .discount {
          color: $font-light;
          font-size: 14px;
          padding: 18px;
          background: $success;
        }

        .price {
          color: $font-light;
          font-size: 14px;
          font-weight: bold;
          padding: 10px;
          background: $background-dark;
          text-align: center;

          &__discount {
            text-decoration: line-through;
            font-size: 10px;
            width: 100%;
            display: block;
          }
        }
      }
    }
  }


}
