.wishlist {
  &__block {
    padding: 10px;

    .title {
      width: max-content;
      background-color: $background-dark-absolute;
      color: $font-light;
      padding: 10px;
      border-radius: 5px 5px 0 0;
    }

    .data {
      background: $background-light;
      box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.1);

      &__not-found {
        text-align: center;
        padding: 20px 0;

        h3 {
          font-size: 16px;
          font-weight: 100;
          text-transform: uppercase;
        }
      }

      .list-games {
        .ui.grid {
          margin: 0;
        }
      }
    }
  }
}