// variables
@import './colors.scss';

// pages
@import '../pages/account.scss';

// layouts
@import '../layouts/BasicLayout/styles.scss';

// components
@import '../components/Header/styles.scss';
@import '../components/Header/TopBar/styles.scss';
@import '../components/Header/Nav/styles.scss';

@import '../components/Modal/BasicModal/styles.scss';

@import '../components/Auth/styles.scss';

@import '../components/Auth/LoginForm/styles.scss';
@import '../components/Auth/RegisterForm/styles.scss';


@import '../components/Account/ChangeNameForm/styles.scss';
@import '../components/Account/ChangeEmailForm/styles.scss';
@import '../components/Account/ChangePasswordForm/styles.scss';
@import '../components/Account/AddressForm/styles.scss';
@import '../components/Account/ListAddress/styles.scss';